.cards {
  margin: 5% 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
button {
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #fd5d5d;
}
